.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  right:0px;
  width: 200px;
  background-color: white;
  font-weight:bold;
  position: relative;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-button{
  width:178px;
  height:18px;
  background-color: blue;
  padding:12px;
  border-radius:5px;
  font-weight:bold;
  color:white;
}

.dropdown-button:before{
  content:"";
  position:absolute;
  width:0px;
  height:0px;
  border: 10px solid;
  border-color: white transparent transparent transparent;
  right:6px;
  top:18px;
}

.dropdown li {
  padding: 8px 16px;
  border-bottom: 1px solid #e5e5e5;
}
.dropdown li:last-child {
  border-bottom: none;
}
.dropdown li:hover {
  background-color: #e5e5e5;
  color: white;
}